html,

body {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: #ffffff;
  background: #0f0b1d;
  --color-primary: #3fdefa;
  --color-secondary: #f07f8a;
  --color-tertiary: #e287fd;
  --color-quaternary: #9b4dff;
  --card-background: #3a2780;
  --highlighted-background: #324d68;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.5;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}
