.container {
  min-height: 200vh;
  min-width: 96vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  contain: paint;
  align-items: center;
  align-self: center;
  text-align: center;
  max-width: 200vw;
}

.content {
  max-width: 1500px;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

.hero {
  padding-bottom: 128px;
}

.heroBackground {
  position: absolute;
  z-index: 0;
  top: 4;
  left: 0;
  overflow: hidden;
  min-width: 100vw;
  max-width: 200vw;
  height: clamp(2000px, calc(59.6vw + 512px), 1200px);
  pointer-events: none;
}

.heroBackgroundInner {
  position: absolute;
  top: -20px;
  left: 50%;
  width: clamp(1500px, calc(60vw + 780px), 720px);
  aspect-ratio: 1/1;
  transform: translateX(-50%);
}

.gradient {
  height: 110%;
  width: 100%;
  opacity: 0.7;
}

.heroAssetFrame {
  display: flex;
  justify-content: center;
  margin: 150px auto 180;
  padding:6em;
  overflow: hidden;
}

.heroAssetFrame2 {
  display: flex;
  justify-content: normal;
  margin: 0px auto 0;
  padding:1em;
  overflow: auto;
}

.heroAsset {
  max-width: 200vw;
  margin-bottom: 16px;
  margin-top: 32px;
}

.heroAsset2 {
  max-width: 1500vw;
  margin-bottom: 8px;
  margin-top: 128px;
}

.heroBodyContainer {
  width: 100%;
  padding: 0 13px;
  margin: 0 auto;
}

.heroBody {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroTitle {
  margin-top: clamp(1px, calc(-7vw + 57px), 3px);
  margin-bottom: 30px;
  color: #052247;
  font-size: min(46vw, 175px);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-align: center;
  overflow: visible;
  letter-spacing: -0.05em;
  background-clip: text; /* Clip background to the text */
  -webkit-text-fill-color: transparent; /* Make text transparent */
  -webkit-background-clip: text; /* Clip background to the text for Safari */
  background-image: url('/futuristic city.png'); /* Set the background image */
  -webkit-text-stroke: 4px #4003a391; /* Add outline */
}



.heroTitleGradient {
  padding-right: 0px;
  padding-bottom: 5px;
  font-weight: 900;
  
}

.heroSubtitle {
  max-width: 640px;
  margin: 0 0 40px;
  color: hsla(0, 0%, 0%, 0.541);
  font-size: Min(3.8vw, 30px);
  letter-spacing: 0.3px;
  line-height: 140%;
  text-align: center;
  transform: translateY(5px);
  text-shadow: 1px 3px 4px rgba(180, 100, 50, 0.541); /* Add underline shadow */
}

.heroSubtitle2 {
  max-width: 1200px;
  margin: 0 0 40px;
  color: hsla(0, 0%, 100%, 0.719);
  font-size: Min(3.8vw, 30px);
  letter-spacing: 0.3px;
  line-height: 140%;
  text-align: center;
  transform: translateY(5px);
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.541); /* Add underline shadow */
}


.heroCtaContainer {
  display: flex;
  flex-direction: flex;
  align-items: flex-start;
  gap: 8px;
}

.codeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 560px;
  max-width: 100%;
  height: 48px;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid hsla(107, 51%, 9%, 0.185);
  border-radius: 8px;
  transition: background-color 0.2s;
}

/* Place a $  before the code button text */
.codeButton::before {
  content: "$ ";
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-right: 8px;
}

.codeButton:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.codeButtonCopy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  background-color: transparent;
  border: none;
  opacity: 0.9;
}

.heroCta {
  position: relative;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  padding: 8px 30px;
  border: 3px solid hsla(113, 100%, 67%, 0.486);
  margin: 16px 0;
  background-clip: padding-box;
  background-color: hsla(279, 69%, 19%, 0.486);
  border-radius: 10px;
  color: #37d6ce;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  transition: opacity 0.7s;
  width: 280px;
}

.heroCta::before {
  position: absolute;
  z-index: -1;
  top: 5px;
  right: 5px;
  bottom: 0;
  left: 5px;
  background: conic-gradient(
    from 147.14deg at 50% 50%,
    var(--color-primary) -55.68deg,
    var(--color-secondary) 113.23deg,
    var(--color-tertiary) 195deg,
    var(--color-quaternary) 304.32deg,
    var(--color-primary) 473.23deg
  );
  border-radius: 6px;
  content: "";
  filter: blur(20px);
  opacity: 0.6;
}

.heroCta:hover {
  cursor: pointer;
  opacity: 0.7;
}

.secondaryCta {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  transition: background-color 0.2s;
  width: 280px;
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.15s ease-in-out;
}

.secondaryCta:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.tabs {
  margin-top: 2em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.tab {
  font-weight: 600;
  cursor: pointer;
  padding: 0.5em 0.75em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: transparent;
  transition: all 0.15s ease-in-out;
  width: 20%;
  height: 100%;
  min-height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.activeTab {
  background-color: rgba(255, 255, 255, 0.1);
}

.tab:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.tabContent {
  transition: all 0.5s ease-in-out;
}

.transition {
  opacity: 0;
  transform: scale(0.9);
}

.link {
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

.code {
  background-color: #0d0d18;
  color: white;
  padding: 8px 4px;
  border-radius: 8px;
}

.list {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.5;
}

.list li {
  margin-bottom: 1em;
}

/* Screens smaller than 750px */
@media (max-width: 650px) {
  .tabs {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .tab {
    width: 50%;
  }

  .heroTitle {
  }
}

/* Less than 640 px */
@media (max-width: 640px) {
  .gradient {
    margin-top: 42px;
  }

  .heroTitle {
    margin-top: 55px;
    font-size: 88px;
  }

  .heroCtaContainer {
    flex-direction: column;
    gap: 5px;
  }

  .heroAsset {
    max-height: 260px;
  }
}

/* Above 640 and less than 960 */
@media (min-width: 640px) and (max-width: 790px) {
  .gradient {
    margin-top: 42px;
  }

  .heroTitle {
    margin-top: 55px;
    font-size: 60px;
  }

  .heroAsset {
    max-height: 220px;
  }
}
